@tailwind base;
@tailwind components;
@tailwind utilities;

.archive {
  height: calc(100vh - 240px - 240px) !important;
}

.animate-slide-in-left {
  animation: slide-in-left 1s ease;
}

.ScrollbarsCustom-Track {
  width: 8px !important;
  background-color: white !important;
}

.ScrollbarsCustom-Track::before {
  content: ' ';
  position: absolute;
  left: 3px;
  height: 100%;
  width: 2px !important;
  background-color: #194c81 !important;
}

.ScrollbarsCustom-Thumb {
  width: 8px;
  background-color: #194c81 !important;
}

.react-photo-album {
  width: 800px;
}
