@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'Cera';
  src: url('/fonts/Cera-Pro-Black.otf') format('TrueType');
  font-style: normal;
  font-display: swap;
} */
@font-face {
  font-family: 'Cera';
  src: url('/fonts/Cera-Pro-Bold.otf') format('TrueType');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Cera';
  src: url('/fonts/CeraPro-Light.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Cera';
  src: url('/fonts/Cera-Pro-Medium.otf') format('TrueType');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope-Bold.ttf') format('TrueType');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.archive {
  height: calc(100vh - 240px - 240px) !important;
}

.animate-slide-in-left {
  animation: slide-in-left 1s ease;
}

.ScrollbarsCustom-Track {
  width: 8px !important;
  margin-top: -10px;
  background-color: white !important;
}

.ScrollbarsCustom-Track::before {
  content: ' ';
  position: absolute;
  left: 3px;
  height: 100%;
  width: 2px !important;
  background-color: #194c81 !important;
}

.ScrollbarsCustom-Thumb {
  width: 8px;
  background-color: #194c81 !important;
}

.react-photo-album {
  width: 800px;
}

.content {
  all: initial;
  font-family: 'Cera';
  color: #061018;
  font-size: 14px !important;
  line-height: 1.4;
}
.gallery .react-photo-album {
  width: 100%;
}

.content p {
  margin-bottom: 20px;
  /* margin-left: 10px; */

  @media (max-width: 1279px) {
    margin-left: 0;
    margin-bottom: 14px;
  }
}

.content h1,
.content h2,
.content h3 {
  color: #194c81;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

.content iframe,
.content video,
.content audio {
  margin: 16px auto;
  @media (max-width: 833px) {
    width: 100%;
    max-width: 600px;
  }
}

.content blockquote {
  padding-left: 12px;
  position: relative;
}

.content blockquote:before {
  content: '';
  background-color: gray;
  opacity: 0.6;
  width: 2px;
  /* height: 100%; */
  display: block;
  position: absolute;
  border-radius: 2px;
  top: -4px;
  bottom: -4px;
  left: 0px;
}

.content a {
  color: #194c81;
  text-decoration: underline;
}
.content a:hover {
  opacity: 0.8;
}
